/* styles/About.module.css */

.container {
    max-width: 80%;
    width: 800px;
    margin: auto;
    padding: 1rem;
    background-color: white;
    position: relative;
    top: 4rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1.5rem;
    text-align: center;
}

.paragraph {
    line-height: 1.5;
    color: black;
    margin-bottom: 1.5rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .container {
    }
    /* .title {
        font-size: 1rem;
    }

    .paragraph {
        font-size: 0.8rem;
    } */
}