/* components/Menu.module.css */
.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.menu ul,
.menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuButton,
.menuLink {
    font-family: Arial;
    font-size: 1.3rem;
}

.menuButton {
    composes: globalButton from '../styles/buttons.css';
    display: block;
    text-align: left;
}

.menuLink {
    background-color: white;
    color: blue;
    padding: 7.8px 10.4px;
    text-decoration: underline;
    display: block;
}

.menuLink:link,
.menuLink:visited {
    color: blue;
}

.menuLink:hover,
.menuLink:visited:hover {
    background-color: blue;
    color: white;
}

.dropdown-menu,
.submenu {
    position: absolute;
    /* min-width: 10.4rem; */
    left: 100%;
    top: 0;
    
}

.menuItem {
    
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;

}

.dropdown-menu,
.submenu,
.menu {
    margin: 0;
    padding: 0;
}

.menuButtonActive {
    background-color: blue;
    /* border-left-style: solid; */
    border-right-style: solid;
    border-color: blue;
    color: white;
    /* font-weight: bold; */
    font-style: italic;
    /* text-decoration: underline; */
}

/* Add this at the bottom of Menu.module.css */

@media (max-width: 768px) {
    .menuLink {
        padding: 6px 8px;
    }
}
/* // computer only */
@media (pointer: fine) {
    .menuButton:hover {
        background-color: blue;
        color: white;
    }
}