/* components/Menu.module.css */
.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.menu ul,
.menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menuButton,
.menuLink {
    font-family: Arial;
    font-size: 1.3rem;
}

.menuButton {
    border: none;
    background-color: white;
    display: block;
    height: auto;
    width: 10.4rem;
    padding: 7.8px 10.4px;
    text-align: left;
    color: black;
    line-height: 1;
}


.menuLink {
    background-color: white;
    color: blue;
    padding: 7.8px 10.4px;
    text-decoration: underline;
    display: block;
}

.menuLink:link,
.menuLink:visited {
    color: blue;
}

.menuLink:hover,
.menuLink:visited:hover {
    background-color: blue;
    color: white;
}

.dropdown-menu,
.submenu {
    position: absolute;
    min-width: 10.4rem;
    left: 100%;
    top: 0;
}

.menuItem {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}

.dropdown-menu,
.submenu,
.menu {
    margin: 0;
    padding: 0;
}

.menuButtonActive {
    background-color: blue;
    /* border-left-style: solid; */
    border-right-style: solid;
    border-color: blue;
    color: white;
    /* font-weight: bold; */
    /* font-style: italic; */
    /* text-decoration: underline; */
}

/* Add this at the bottom of Menu.module.css */

@media (max-width: 768px) {

    .menuButton,
    .menuLink {
        font-size: 1.4rem;
        padding: 6px 8px;
    }
}

@media (max-width: 768px) {
    .submenu {
        min-width: 8rem;
    }
}

/* // touch screen only */
@media (pointer: coarse) {
    .menuButton:hover {

        }
}

/* // computer only */
@media (pointer: fine) {
    .menuButton:hover {
        background-color: blue;
        color: white;
    }
}
/* Add this at the bottom of Menu.module.css */
@media (max-width: 768px) {

    .menuButton,
    .menuLink {
        padding: 5px 8px;
        width: 8rem;
    }
}

.arrowLeft,
.arrowRight {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    z-index: 1001;
    /* Ensure the arrows are above the menu items */
}

.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

@media (max-width: 768px) {

    .arrowLeft,
    .arrowRight {
        display: block;
    }
}